* {
  box-sizing: border-box;
  background-color: rgb(74, 76, 56);
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: brown;
  margin: 100px auto;
  width: 601px;
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
div {
  /* width: 100%; */
  background: transparent;
}
h1 {
  background-color: aquamarine;
  margin: 0 auto;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  background-color: brown;
}
p {
  background-color: green;
  margin: 0 auto;
  padding: 10px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 1px solid #000;
}

ul {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 550px;
  margin-left: 0;
}

li {
  list-style: none;
  background-color: blueviolet;
  margin: 5px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  background-color: blue;
  /* width: 100%; */
  margin: 1rem auto;
  padding: 20px;
  border-top: 1px solid #000;
}

input {
  width: 18rem;
  background: white;
}

button {
  margin: auto 10px;
  padding: 1px 3px;
  background-color: blueviolet;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.deleteBtn,
.checkBtn,
.editBtn {
  margin-right: 0;
}

.updateBtn,
.addBtn {
  background-color: lightblue;
  padding: 2px 20px;
}

i {
  pointer-events: none;
  filter: invert(1);
  background: transparent;
}
